<p>login works!</p>
<form>
  <label for="inputUsername">Username</label>
  <input #username id="inputUsername" class="form-control" placeholder="Username" required autofocus>
  <label for="inputPassword">Password</label>
  <input #password type="password" id="inputPassword" class="form-control" placeholder="Password" required>

  <button class="btn btn-lg btn-primary btn-block" type="submit"
          (click)="onSubmit(username.value, password.value, $event)">
    Sign in
  </button>
</form>
<div class="panel-heading">{{ logged }}</div>
