<form *ngIf="!logged">

  <div class="form-group">
    <label for="inputUsername" class="mr-sm-2" > Username : </label>
    <input #username id="inputUsername" class="form-control" placeholder="Username" required autofocus>
  </div>

  <div class="form-group">
    <label for="inputPassword" class="mr-sm-2" > Password : </label>
    <input #password type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  </div>

  <div class="form-group">
    <button class="button button-3" type="submit"
            (click)="onSubmit(username.value, password.value, $event)">
      Sign in
    </button>
  </div>

</form>
<div class="panel-heading">{{ logged }}</div>


