
<div id="app-booth" class="principal">

    <h1>{{voting.id}} - {{voting.name}}</h1>

    <div *ngIf="!logged">
      <app-login></app-login>
    </div>

    <!-- Voting -->
    <div  *ngIf="logged">
      <span>loged</span>

      <h2>{{ voting.question.desc }}</h2>

      <form>
        <div class="form-check-inline" *ngFor = "let option of options;let i=index">

          <label *ngfor="let option of voting.question.options" class="form-check-label" >
            {{option}}</label>
          <input #option type="radio" class="form-check-input" id={{i}} name="option" value="option">

        </div>
        <div class="boton">
          <button class="button button-3" type="submit"
                  (click)="onSubmit('patata','patata2', $event)">
                  Vote
          </button>
        </div>
      </form>

    </div>

</div>
