
<div id="app-booth" class="principal">

    <h1>{{voting.id}} - {{voting.name}}</h1>

    <form *ngIf="!logged">

      <div class="form-group">
        <label for="inputUsername" class="mr-sm-2" > Username : </label>
        <input #username id="inputUsername" class="form-control" placeholder="Username" required autofocus>
      </div>

      <div class="form-group">
        <label for="inputPassword" class="mr-sm-2" > Password : </label>
        <input #password type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      </div>

      <div class="form-group">
        <button class="button button-3" type="submit"
                (click)="onSubmit(username.value, password.value, $event)">
          Sign in
        </button>
    </div>

    </form>

    <!-- Voting -->
    <div  *ngIf="logged">
      <span>loged</span>

      <h2>{{ voting.question.desc }}</h2>

      <form>
        <div class="form-check-inline" *ngFor = "let option of options;let i=index">

          <label *ngfor="let option of voting.question.options" class="form-check-label" >
            {{option}}</label>
          <input #option type="radio" class="form-check-input" id={{i}} name="option" value="option">

        </div>
        <div class="boton">
          <button class="button button-3" type="submit"
                  (click)="onSubmit(option.id, $event)">
                  Vote
          </button>
        </div>
      </form>

    </div>

</div>
